/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11pt;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#page
{
  margin: 0 auto 0 auto; 
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 70%;
}

#header
{
margin-top:30px;
margin-bottom:20px;
}

#headerTitle
{
font-size:25pt;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;	
padding-left:30px;
padding-right:30px;
padding-top:30px;
}

#headerSubText
{
font-size:14pt;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
padding-left:30px;
padding-right:30px;
}


.contentTitle
{
font-size:18pt;
font-weight:bold;
padding-left:30px;
padding-right:30px;
padding-top:20px;
}


.contentText
{
width:95%;
padding-left:30px;
padding-right:30px;
font-size:12pt;
line-height:20px;
margin-top:10px;
margin-bottom:15px;
}

.float
{
float: right;
margin: 20px 20px 20px 20px;
}

a
{
text-decoration:none;
color:#00c;
}

a:hover
{
color:#c00;
}

html, body {
text-align: center;
}
p {text-align: left;}

ul, li {
margin-bottom: 10px;
}